@model IEnumerable<DynamicPrice.Models.Dynamicprice>

@{
    ViewData["Title"] = "Index";
    int intSno = 0;
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Index</h1>

<partial name="_pager" model="@pager" />
<div class="col-4 p-0 justify-content-end">
    <form asp-controller="Dynamicprice" asp-action="Index">
        <span class="btn-group">
            <input class="form-control" type="text" name="SearchText" placeholder="Search key" />   
            <input class="p-1 col-md-12 btn btn-sm btn-info" type="submit" value="Search" />
        </span>
    </form>
</div>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                Sno
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Sno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoxId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoxName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.CashBuyPrice)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ExchangePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P1sellPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2sellPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P1Dt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2Dt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P3Dt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P1sellQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2sellQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P1buyQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2buyQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datadt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P1Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P1Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P1sellRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2sellRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P1buyRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2buyRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P1sellPriceDelta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2sellPriceDelta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P1sellQtyDelta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2sellQtyDelta)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.P1buyQtyDelta)
            </th>
            
             <th>
                @Html.DisplayNameFor(model => model.P2buyQtyDelta)
            </th>
            
             <th>
                @Html.DisplayNameFor(model => model.CategoryCode)
            </th>
            
             <th>
                @Html.DisplayNameFor(model => model.BrandCode)
            </th>
            
             <th>
                @Html.DisplayNameFor(model => model.PricingModel)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.PricingDelta)
            </th>
            
             <th>
                @Html.DisplayNameFor(model => model.Mlpredicted)
            </th>
            
             <th>
                @Html.DisplayNameFor(model => model.Tfpredicted)
            </th>
            
             
            
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    intSno = intSno + 1;

        <tr>
            <td>
                    @intSno
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Sno)
            </td width="20%">
            <td>
                    @Html.DisplayFor(modelItem => item.BoxId)
            </td width="20%">
            <td>
                @Html.DisplayFor(modelItem => item.BoxName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CashBuyPrice)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ExchangePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P1sellPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P2sellPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P1Dt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P2Dt)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P3Dt)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.SellQty)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P1sellQty)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P2sellQty)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.BuyQty)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P1buyQty)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P2buyQty)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Datadt)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P1Date)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P2Date)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P3Date)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P1Days)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P2Days)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P1sellRatio)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P2sellRatio)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.SellRatio)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P1buyRatio)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P2buyRatio)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.BuyRatio)
            </td>
            
             <td>
                @Html.DisplayFor(modelItem => item.P1sellPriceDelta)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P2sellPriceDelta)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P1sellQtyDelta)
            </td>
            
            
             <td>
                @Html.DisplayFor(modelItem => item.P2sellQtyDelta)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.P1buyQtyDelta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P2buyQtyDelta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricingModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricingDelta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mlpredicted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tfpredicted)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.BoxId">Edit</a> 
                @*<a asp-action="Details" asp-route-id="@item.Boxid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Boxid">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
